
@{
    ViewData["Title"] = "Completed";
    Layout = "_LayoutCategory";
}

    <div class="card">
        <h5 class="card-header">Thanks!</h5>
        <div class="card-body">
            <h5 class="card-title">Thanks for placing your order.</h5>
            <p class="card-text">We'll ship your goods as soon as possible.</p>
            <a class="btn btn-outline-info btn-sm pull-right" href="asp-controller="Home" asp-action="Index">Continiu shopping</a>
        </div>
    </div>


