@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles</h2>
<a class="btn btn-sm btn-secondary" asp-action="CreateRole">Add Role</a>
<a class="btn btn-sm btn-secondary" asp-action="Index">Users</a>

<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>


